@use 'variables' as v; 

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}  
body{
    font-size: 1.8rem;
    font-family: v.$fuentePrincipal;
}
.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}