@use 'base/variables' as v;

h1, h2, h3{
    font-family: v.$fuentePrincipal;
    margin: 0;
    line-height: 1.2;
}
h1, h2{
    font-weight: 700;
}
h1{
    font-size: 2rem;
}
p{
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    line-height: 1.8;
}