@use 'base/variables' as v;
@use 'base/mixins' as m;

.navigation{
    display: none;
    align-items: center;
    gap: 3rem;
    &.show{
        @include m.mobile{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            top: 6.5rem;
            left: 1%;
            width: 98%;
            margin: 0 auto;
            padding: 4rem 3rem;
            min-height: 40rem;
            background-color: v.$white;
            &::before{
                content: "";
                display: block;
                // background-color: red;
                border-left: 3rem solid transparent;
                border-bottom: 3rem solid v.$white;
                height: 3rem;
                width: 3rem;
                position: absolute;
                top: -3rem;
                right: 0;
            }
        }   
    }
    @include m.tablet{
        display: flex;
        flex-direction: row;
    }
    &__link{
        color: v.$veryDarkGrayishBlue;
        text-decoration: none;
        font-weight: 400;
        font-family: v.$fuenteSecundaria;
        font-size: 2.1rem;
        @include m.tablet{
            color: v.$white;
            font-size: unset;
        }
        &--submit{
            background-color: v.$yellow;
            padding: 2rem 3rem;
            text-transform: uppercase;
            border-radius: 4rem;
            font-weight: 700;
            &:hover{
                background-color: lighten(v.$yellow,20%);
                color: v.$veryDarkDesaturatedBlue;
            }
            @include m.tablet{
                background-color: v.$white;
                color: v.$veryDarkDesaturatedBlue;
                &:hover{
                    background-color: lighten(#3EBFFF,25%);
                    color: v.$white;
                }
            }
        }
    }
}